<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
  <tbody>
    <tr>
      <td valign="middle">
        <div class="container full-spaced full-spaced-bottom">
          <div class="row">
            <div class="col-xs-12">
              <h1>Pipecandy Admin</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-12 half-spaced">
              <table class="table">
                <tbody>
                  <tr>
                    <td colspan="2" style="border: 0 none;">
                      <h4>Follow/Unfollow Feature</h4>
                    </td>
                  </tr>
                  <tr>
                    <td style="border: 0 none;" width="150">For twitter </td>
                    <td style="border: 0 none;" width="20">:</td>
                    <td style="border: 0 none;" width="250">
                      <a href="<%= twitter_path %>" target="_blank">Twitter Auto Follow/Unfollow</a>
                    </td>
                  </tr>
                  <tr>
                    <td style="border: 0 none;" width="150">For inbound </td>
                    <td style="border: 0 none;" width="20">:</td>
                    <td style="border: 0 none;" width="250">
                      <a href="<%= inbound_path %>" target="_blank">Inbound Auto Follow/Unfollow</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <% unless @concierge.blank? %>
            <div class="row">
              <div class="col-xs-12 spaced">
                <h3>Concierge Emails</h3>
              </div>
              <div class="col-xs-12 half-spaced">
                <strong>Download Report: &nbsp;<a href="./admin.csv" download="Concierge.csv">CSV</a> | <a href="./admin.xls" download="Concierge.xls">XLS</a></strong>
              </div>
              <div class="col-xs-12 half-spaced">
                <a class="btn btn-primary concierge-table-update">Refresh table</a>
              </div>
              <div class="col-xs-12 spaced" id="concierge_datatable">
                <div class="row">
                  <div class="col-sm-6">
                    <input id="conciergeSearch" type="text" placeholder="Search" />
                  </div>
                  <div class="col-sm-6 text-right">
                    <div class="dropdown" style="padding-top: 7px;">
                      <label id="dataTablesInfo"></label>
                      <button class="btn dropdown-toggle custom-dropdown-btn" type="button" id="dataTablesLength" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
                      <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="dataTablesLength">
                        <li style="padding: 6px 0px;">Show up to:</li>
                        <li><a href="javascript:void(0);" onclick="$.fn.changeDataTableLength(30);">&nbsp;&nbsp;10 items</a></li>
                        <li><a href="javascript:void(0);" onclick="$.fn.changeDataTableLength(60);">&nbsp;&nbsp;20 items</a></li>
                        <li><a href="javascript:void(0);" onclick="$.fn.changeDataTableLength(120);">&nbsp;&nbsp;40 items</a></li>
                        <li><a href="javascript:void(0);" onclick="$.fn.changeDataTableLength(-1);">&nbsp;&nbsp;All items</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <table id="concierge" class="table" data-source="/admin.json">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>E-Mail</th>
                      <th>Company</th>
                      <th>description</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>
        </div>
      </td>
    </tr>
  </tbody>
</table>