<div>Hi,</div>
<br/>
<div>Twitter Update New Followers Status. I've the details below.</div>
<br/>
<div>New Follow Back:</div>
<div>Click here and see those profiles</div>
<br/>
<div>
  <% @new_followers.each do |f| %>
    <span><a href="https://twitter.com/<%= f.screen_name %>"><%= f.name %></a> |</span>
  <% end %>
</div>
<br/>
<div>Total new followback users: <%= @new_followers.count %>.</div>
