<div>Hi Sathish,</div>
<br/>
<div>Someone blocked our profile.</div>
<br/>
<table align="left">
  <tbody>
    <tr>
      <td valign="top" style="padding-top: 10px"><b>Screen Name:</b>&nbsp;<%= @twitter_follower.screen_name %></td>
      <td valign="top" style="padding-top: 10px"><b>Twitter ID:</b>&nbsp;<%= @twitter_follower.twitter_id %></td>
      <td valign="top" style="padding-top: 10px"><b>Attempts:</b>&nbsp;<%= @twitter_follower.attempts %></td>
      <td valign="top" style="padding-top: 10px"><b>Friends:</b>&nbsp;<%= @twitter_follower.friends_count %></td>
    </tr>
  </tbody>
</table>