<div>Hi <%= @prospect_name.titleize %>,</div>
<br/>
<div>Thanks for signing up for PipeCandy &#x263A;.</div>
<br/>
<div>A quick question: What is the most important expectation you have from a tool like PipeCandy? If you have any other expectations tell me about them as well.</div>
<br/>
<div>This is just so that I get a bit more context before planning for a conversation.</div>
<br/>
<div>Best,</div>
<br/>
<div>Ashwin Ramasamy<br/>Founder - <a href="http://pipecandy.com" target="_blank">PipeCandy</a></div>
