<div>Hi Rajesh,</div>
<br/>
<div>
  <p>
    Twitter <%= @status.to_s %> Sucess!. See server log, If want!
  </p>
</div>
<% unless @twitter_ids.blank? %>
  <div style="padding-top: 10px">
    <p>
      Twitter Ids: <%= @twitter_ids.to_s %>
    </p>
  </div>
<% end %>