<div>Hi Thangadurai,</div>
<br/>
<div>We've got an error in from twitter follow. I've the details below.</div>
<br/>
<table align="left">
  <tbody>
    <tr>
      <td valign="top" style="padding-top: 10px">Error Message</td>
      <td valign="top" style="padding-top: 10px">:</td>
      <td valign="top" style="padding-top: 10px"><%= @error_message %></td>
    </tr>
    <% unless @twitter_ids.blank? %>
      <tr>
        <td valign="top" style="padding-top: 10px">Twitter User Ids</td>
        <td valign="top" style="padding-top: 10px">:</td>
        <td valign="top" style="padding-top: 10px"><%= @twitter_ids %></td>
      </tr>
    <% end %>
  </tbody>
</table>
