<div>Hi Thangadurai,</div>
<br/>
<div>We've got an error in from twitter follow. I've the details below.</div>
<div>Error Occured at <%= Time.now.to_s %></div>
<br/>
<table align="left">
  <tbody>
    <tr>
      <td valign="top" style="padding-top: 10px">Error Message</td>
      <td valign="top" style="padding-top: 10px">:</td>
      <td valign="top" style="padding-top: 10px"><%= @error_message %></td>
    </tr>
  </tbody>
</table>
