<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 text-center">
          <a href="/" title="PipeCandy">
            <%= image_tag "/assets/logo.png", width: "100%", height: "100%", alt: "PipeCandy", :class => "main-logo", align: "middle", title: "Email Prospecting Software For Sales Reps!" %>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center full-spaced full-spaced-bottom">
          <p class="lead ubuntu-medium">PipeCandy replaces your cold emails with warm handshakes...</p>
          <p class="ubuntu-light">... and our <a href="https://medium.com/@Ashwinizer/5ac444d1ca3e" class="logo-story" target="_blank" rel="nofollow">logo story</a> is better than <a href="http://www.wired.com/2016/02/the-inside-story-behind-ubers-colorful-redesign/" class="logo-story" target="_blank" rel="nofollow">Uber's</a>!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 email-collect-box">
          <div class="row">
            <div class="col-xs-12 spaced">
              <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12 col-centered">
                  <%= form_for :email, url: email_process_path, method: :post, html: {id: "email_process", :class => "form-horizontal"} do |f| %>
                    <div class="row form-group">
                      <div class="col-sm-8 col-xs-12 group-field">
                        <%= f.email_field :email, id: "contact_email", :class => "form-control clearfix", placeholder: "Drop your official email ID", style: "height: 45px;" %>
                      </div>
                      <div class="col-sm-4 col-xs-12 group-field">
                        <%= f.submit "Get Early Access!", id: "email_process_btn", :class => "btn btn-block btn-pink white-color ubuntu-bold", style: "height: 45px;" %>
                      </div>
                      <div id="contact_email_error" class="row col-xs-12"></div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center spaced half-spaced-bottom">
              <p class="ubuntu-light">Be among the first to get access to the smartest email prospecting software &amp; enjoy early bird pricing!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>