<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 centered">
      <div class="row">
        <div class="col-xs-12 text-center">
          <%= image_tag "/assets/logo.png", width: "100%", height: "100%", alt: "PipeCandy", :class => "main-logo", align: "middle", title: "Email Prospecting Software For Sales Reps!" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center spaced">
          <h1 class="ubuntu-medium-italic green-color">Mahalo!</h1>
        </div>
        <div class="col-xs-12 text-center">
          <p class="lead ubuntu-light-italic">Pay it forward and tell your friends.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12 col-centered">
          <div class="row">
            <div class="col-xs-12 spaced">
              <div class="panel">
                <p class="text-center">I just signed up for <a href="https://twitter.com/PipeCandyHQ" target="_blank" rel="nofollow">@PipeCandyHQ's</a> smart email prospecting software.</p>
                <p class="text-center">Getting ready for the unfair advantage!</p>
                <div class="text-center half-spaced">
                  <a href="https://twitter.com/home?status=I%20just%20signed%20up%20for%20%40PipeCandyHQ%20's%20smart%20email%20prospecting%20software.Can't%20wait%20to%20get%20my%20hands%20on%20it!%0Ahttp%3A//bit.ly/1Sv1EHd" target="_blank" rel="nofollow" class="btn btn-blue white-color"><img src="/assets/twitter.png" width="34px" height="34px">&nbsp;Tweet this &amp; we'll move you ahead in the queue!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>