<div class="container">
  <div class="row text-justify" style="line-height: 22px;">
    <div class="col-xs-12 spaced spaced-bottom">
      <h1 class="heading" style="padding: 0;"><b>Terms of Service</b></h1>
      <span><b>Last modified: August 10, 2016</b></span>
    </div>
    <div class="col-xs-12 half-spaced">
      <p>These terms of service (the "Terms") govern your access to and use of PipeCandy ("we" or "our") websites and services (the "Services"). Please read them carefully before using the Services.</p>
      <p>By using the Services you are agreeing to these Terms. If you are using the Services on behalf of an organization, you are agreeing to these Terms for that organization and representing that you have the authority to bind that organization to these terms. In that case, "you" and "your" will refer to that organization.</p>
      <p>You may use the Services only in accordance with these Terms. You may use the Services only if you have the legal power and capacity to form a contract with PipeCandy. The Services will continue to evolve as we refine features and functionality. We may terminate, suspend, or modify the Services, in general or with respect to you, from time to time without cause or prior notice. We may also delete any content or data from the Services at our discretion.</p>
    </div>

    <div class="col-xs-12 half-spaced">
      <p><b>Your Data</b></p>
      <p>In order to use our Services you must link a 3rd party email account to your PipeCandy account. With your permission (which you are granting by using the Service), we will create and update versions of your address book and emails for you to access in PipeCandy. You will also have the option to import and update versions of your calendar, social media contacts, and mobile phone call history, and you can later choose to upload files to or provide comments through PipeCandy (together, "Your Data"). You retain full ownership to your Data. We do not claim any ownership to any of it.</p>
      <p>You are solely responsible for your conduct, the content of Your Data and your communications with others while using the Services. For example, it's your responsibility to ensure that you have all rights and permissions needed to comply with these Terms and to avoid infringement or violation of any rights of others.</p>
      <p>You acknowledge that PipeCandy has no obligation to monitor any information on the Services and that we are not responsible for the accuracy, completeness, appropriateness, safety or legality of Your Data or any other information or content you may be able to access using the Services.</p>
    </div>

    <div class="col-xs-12 half-spaced">
      <p><b>Sharing Your Data and Your Privacy</b></p>
      <p>Subject to the limited exceptions specified in our Privacy Policy, until you choose otherwise, all of Your Data remains visible only to you. However, the Services do allow you to share Your Data with others. If you choose to share Your Data, we cannot be responsible for what those other users do with Your Data, so please carefully consider what you share and with whom you share it.</p>
      <p>What we do with Your Data, and how we collect and use other information relating to you generally is explained in our Privacy and Security Policy.</p>
    </div>

    <div class="col-xs-12 half-spaced">
      <p><b>Your Responsibilities</b></p>
      <p>Information and content accessible through the Services may be protected by intellectual property rights of others. Please do not copy, upload, download, or share any information or content unless you have the right to do so. You, not PipeCandy, will be fully responsible and liable for what you copy, share, upload, download or otherwise use while using the Services. You must not upload spyware or any other malicious software to the Service, or use the Service to spam others.</p>
      <p>You, and not PipeCandy, are responsible for maintaining and protecting all of Your Data. PipeCandy will not be liable for any loss or corruption of Your Data, or for any costs or expenses associated with backing up or restoring any of Your Data.</p>
      <p>If any information related to your account changes, you must notify us promptly and keep your information current. The Services are not intended for use by you if you are under 18 years of age. By agreeing to these Terms, you are representing to us that you are over 18.</p>
      <p>The PipeCandy Software and Services are subject to the trade laws and regulations of the United States and other countries, including the Export Administration Regulations (EAR, 15 CFR Part 730 et seq.) and the sanctions programs administered by the Office of Foreign Assets Control (OFAC, 31 CFR Part 500).</p>
      <p>You will not import, export, re-export, transfer or otherwise use the Software or Service in violation of these laws and regulations, including by engaging in any unauthorized dealing involving (i) a U.S. embargoed country (currently Cuba, Iran, North Korea, Sudan and Syria), (ii) a party included on any restricted person list, such as the OFAC Specially Designated Nationals List, or the Commerce Department’s Denied Persons List or Entity List, or (iii) the design, development, manufacture, or production of nuclear, missile, or chemical or biological weapons. By using the Software and Services, you represent and warrant that you are not located in any such country or on any such list.</p>
      <p>You will not engage in activity that would cause PipeCandy to be violation of these laws and regulations, and will indemnify PipeCandy for any fines, penalties or other liabilities incurred by PipeCandy for your failure to comply with this provision.</p>
      <p>You agree to indemnify, defend and hold harmless PipeCandy and its officers, directors, owners, employees, agents, consultants and vendors from and against any and all liabilities, losses, claims, damages, causes of action, costs and expenses (including attorneys’ fees) that may be incurred by PipeCandy arising out of or related to your acts or omissions in connection with call recordings, whether such claims arise under contract, tort, statute or other legal theory, including but not limited to your failure to comply with telephone recording and wiretapping laws.</p>
    </div>

    <div class="col-xs-12 half-spaced">
      <p><b>Account Security</b></p>
      <p>You are responsible for keeping the password that you use to access the Services secure and you agree not to provide your password to any third party. You are responsible for all activity using your account, whether or not authorized by you. Accordingly, you should notify PipeCandy immediately of any unauthorized use of your account. You acknowledge that if you wish to protect Your Data when you are transmitting it to PipeCandy, it is your responsibility to use a secure encrypted connection to do so.</p>
    </div>

    <div class="col-xs-12 half-spaced">
      <p><b>Software and Updates</b></p>
      <p>Some parts of our Service require you to download a client software package ("Software"). Subject to these Terms, PipeCandy hereby grants you a limited, nonexclusive, nontransferable, non sublicensable, revocable license to use the Software, solely to access the Services. This license will be automatically revoked if you violate these Terms. We reserve all rights not explicitly granted in these Terms. You must not attempt to reverse engineer the Software or encourage or assist anyone else to do so; however, this restriction will not prohibit reverse engineering for interoperability in the European Union to the extent European Union law forbids such a restriction. The Services may automatically update the Software on your device when a new version becomes available.</p>
    </div>

    <div class="col-xs-12 half-spaced">
      <p><b>Feedback</b></p>
      <p>While we appreciate it when users send us feedback, please be aware that we (or others we authorize) may use in any manner any feedback, comments, or suggestions you post in our forums or otherwise provide without any obligation to you. This includes parts or whole of your feedback in PipeCandy’s websites and other marketing materials.</p>
      <p>Acceptable Use Policy</p>
      <p>You will not, and will not attempt to, use the Services to violate any laws or any rights of PipeCandy or any other person or otherwise misuse or inappropriately use the Services, and will use the Services only in a manner consistent with the PipeCandy Acceptable Use Policy, as it may change from time to time in our discretion.</p>
    </div>

    <div class="col-xs-12 half-spaced">
      <p><b>Copyright Policy</b></p>
      <p>PipeCandy respects intellectual property rights of others and asks that you do as well. We will respond to notices of alleged copyright infringement that comply with the law and are properly provided to us. Such notices should be reported using our DMCA Process. Without limiting any other rights we may have, we may delete or disable access to content that is alleged to be infringing and terminate repeat infringers. Our designated agent for notice of alleged copyright infringement on the Services is:</p>
      <p>Murali Vivekanandan</p>
      <p>PipeCandy Inc.</p>
      <p>3400 Stone Way N.</p>
      <p><a href="mailto:murali@pipecandy.com">murali@pipecandy.com</a></p>
    </div>

    <div class="col-xs-12 half-spaced">
      <p><b>Other Content</b></p>
      <p>The Services may contain links to websites or resources of others. We do not endorse and are not responsible or liable for their accuracy, availability, content, products, services or anything else. You are solely responsible for your use of any such websites or resources. Also, if we provide you with any software under an open source license, there may be provisions in those licenses that conflict with these Terms, in which case the open source provisions will apply with respect to the code to which those provisions apply.</p>
    </div>

    <div class="col-xs-12 half-spaced">
      <p><b>Termination</b></p>
      <p>You can stop using our Services any time and we reserve the right to suspend or end the Services to you in whole or part at any time, with or without cause, and with or without notice, without incurring liability of any kind. For example, we may suspend or terminate your use if you are not complying with these Terms, or if you use the Services in any way that may cause us legal liability or disrupt others' use of the Services or damage to our business or reputation, or for any other reason. If we suspend or terminate your use, we will try to let you know in advance and help you retrieve data, though there may be some cases (for example, repeatedly or flagrantly violating these Terms, a court order, or danger to other users) where we may suspend or terminate immediately. You acknowledge that if your access to the Service is suspended or terminated, you may no longer have access to Your Data that is stored with the Service.</p>
      <p>PipeCandy is Available "as-is" though we want to provide a great service, there are certain legal commitments we can't make. for example, the services and software are provided "as is", at your own risk, without express or implied warranty of any kind, including, without limitation, warranties of merchantability, fitness for a particular purpose and non-infringement. PipeCandy will not be responsible for any harm to your computer system, loss or corruption of data, or other harm that results from your access to or use of the services or software. Some states do not allow the types of disclaimers in this paragraph, so they may not apply to you.</p>
    </div>

    <div class="col-xs-12 half-spaced">
      <p><b>Limitation of Liability</b></p>
      <p>To the fullest extent permitted by law, in no event will PipeCandy, its affiliates, officers, employees, agents, suppliers or licensors be liable for (a) any indirect, special, incidental, punitive, exemplary or consequential (including loss of use, data, business, or profits) damages, regardless of legal theory, whether or not PipeCandy has been warned of the possibility of such damages, and even if a remedy fails of its essential purpose; (b) aggregate liability for all claims relating to the services more than the greater of $20 or the amounts paid by you to PipeCandy for the past three months of the services in question. Some states do not allow the types of limitations in this paragraph, so they may not apply to you.</p>
      <p>In addition, PipeCandy or any of its employees will be liable in the case we were to assist you with any step of your account setup or any other troubleshooting, including attaining email connectivity, that exposes us to your private data, including prospect info and email metadata and content. By using PipeCandy, you agree to permit PipeCandy representatives these permissions when circumstances necessitate it. We reserve the right, at our own discretion, to assist in these ways when needed and will keep information confidential as per our privacy policy.</p>
    </div>

    <div class="col-xs-12 half-spaced">
      <p><b>Modifications</b></p>
      <p>We may revise these Terms from time to time and the most current version will always be posted on our website. We will notify you of any change (for example via email to the email address associated with your account or by a notification when you sign in or by some other method). By continuing to access or use the Services after revisions become effective, you are agreeing to be bound by the revised Terms. If you do not agree to the new terms, simply don't use the Service after the change is effective, in which case the change will not apply to you.</p>
    </div>

    <div class="col-xs-12 half-spaced half-spaced-bottom">
      <p><b>Miscellaneous Legal Terms</b></p>
      <p>These terms and the use of the services and software will be governed by Delaware law except for its conflicts of laws principles. all claims arising out of or relating to these terms or the services or software must be litigated exclusively in the federal or state courts of Delaware, and both parties consent to venue and personal jurisdiction there.</p>
      <p>These Terms constitute the entire and exclusive agreement between you and PipeCandy with respect to the Services, and supersede and replace any other agreements, terms and conditions applicable to the Services. These Terms create no third party beneficiary rights. PipeCandy's failure to enforce a provision is not a waiver of its right to do so later. If a provision is found unenforceable the remaining provisions of the Agreement will remain in full effect and an enforceable term will be substituted to reflect our intent as closely as possible. You may not assign any of your rights in these Terms, and any such attempt is void, but PipeCandy may assign its rights and obligations to any of its affiliates or subsidiaries, or to any successor in interest of any business or assets associated with the Services.</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row light-dark-background">
    <div class="col-xs-12 text-center half-spaced tos-privacy">
      <a href="/tos" title="Terms of service">Terms of service</a>&nbsp;•&nbsp;
      <a href="/privacy-policy" title="Privacy policy">Privacy policy</a>
    </div>
    <div class="col-xs-12 half-spaced half-spaced-bottom text-center">
      <div class="copyright">Copyright &copy; PipeCandy | All Rights Reserved</div>
    </div>
  </div>
</div>