/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*Include all the ubuntu fonts*/
@font-face {
  font-family: "ubuntu-bold";
  src: url('/assets/Ubuntu-B.ttf') format("truetype");
}
@font-face {
  font-family: "ubuntu-light";
  src: url('/assets/Ubuntu-L.ttf') format("truetype");
}
@font-face {
  font-family: "ubuntu-light-italic";
  src: url('/assets/Ubuntu-LI.ttf') format("truetype");
}
@font-face {
  font-family: "ubuntu-medium";
  src: url('/assets/Ubuntu-M.ttf') format("truetype");
}
@font-face {
  font-family: "ubuntu-medium-italic";
  src: url('/assets/Ubuntu-MI.ttf') format("truetype");
}
@font-face {
  font-family: "ubuntu-regular";
  src: url('/assets/Ubuntu-R.ttf') format("truetype");
}
html {
  font-family: sans-serif;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  font-family: "ubuntu-regular";
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
}
p {
  margin: 0 0 10px;
}
h1 {
  font-size: 36px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
}
img {
  border: 0;
  vertical-align: middle;
}
input {
  margin: 0;
  font: inherit;
  color: inherit;
  line-height: normal;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
small {
  font-size: 85%;
}
a {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
  cursor: pointer;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
.text-center {
  text-align: center;
}
.white-color {
  color: #FFF !important;
}
.green-color {
  color: #3BBC95;
}
.half-spaced {
  padding-top: 10px;
}
.half-spaced-bottom {
  padding-bottom: 10px;
}
.spaced {
  padding-top: 20px;
}
.spaced-bottom {
  padding-bottom: 20px;
}
.full-spaced {
  padding-top: 30px;
}
.full-spaced-bottom {
  padding-bottom: 30px;
}
.ubuntu-bold {
  font-family: "ubuntu-bold";
}
.ubuntu-light {
  font-family: "ubuntu-light";
}
.ubuntu-light-italic {
  font-family: "ubuntu-light-italic";
}
.ubuntu-medium {
  font-family: "ubuntu-medium";
}
.ubuntu-medium-italic {
  font-family: "ubuntu-medium-italic";
}
.ubuntu-regular {
  font-family: "ubuntu-regular";
}
/* Bootstrap Additional Class */
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
.col-no-gutter {
  padding: 0;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
}
@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
}
.top-strip, .bottom-strip {
  width: 100%;
  height: 5px;
  background: url(/assets/tile.png);
  background-size: 344px 5px, cover;
}
.top-strip {
  top: 0;
}
.bottom-strip {
  bottom: 0;
}
.home-padding {
  padding: 0px 60px;
}
.logo {
  width: 398px;
  height: 78px;
}
.black-background {
  background: #000;
  color: #fff;
}
.flat-input {
  border-radius: 0px 0px 0px 0px;
  border-width: 0px 0px 1px;
  border-style: none none solid;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-color: -moz-use-text-color -moz-use-text-color rgb(204, 204, 204);
  box-shadow: none;
  margin-bottom: 5px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.flat-input:focus {
  border-radius: 0px 0px 0px 0px;
  border-width: 0px 0px 1px;
  border-style: none none solid;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  box-shadow: none;
  margin-bottom: 5px;
  border-color: #66afe9;
  outline: 0;
}
#section_1 .heading {
  color:  #142a38;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  text-align: right;
}
#section_1 .early-access-text {
  color:  #ababab;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  height: 60px;
  width: 468px;
}
#section_1 .early-access-btn {
  border: 5px solid transparent;
  background-color:  #ef215f;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.39);
  width: 300px;
  height: 60px;
  margin-top: 25px;
  color:  #fff !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
#section_2 .heading {
  color:  #ff6549;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
}
#section_2 .note {
  color:  #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
#section_3 .carousel-caption {
  text-shadow: none;
  text-align: justify;
  color: #000;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}
#section_3 .card {
  border: 1px solid #ccc;
  background-color: #FFF;
  padding: 30px;
}
#section_3 .heading {
  color:  #31ab86;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
}
#section_3 .note {
  color:  #142a38;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
#section_3 .note .highlight {
  color:  #ef215f;
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  text-align: left;
}
#section_5 .heading {
  color:  #ff7f6b;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
}
#section_5 .note {
  color:  #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
#section_5 .note .highlight {
  color:  #ef215f;
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  text-align: left;
}
#section_6 .heading {
  color:  #ff6549;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
}
#section_6 .note {
  color:  #142a38;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
#section_7 .heading {
  color:  #ef215f;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
}
#section_7 .note {
  color:  #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
#section_7 .note-2 {
  color:  #ef215f;
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  text-align: left;
}
#section_7 .note-3 {
  color:  #ef215f;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
#section_7 .conceirge-btn {
  border-radius: 5px;
  background-color:  #1793e0;
  width: 370px;
  height: 61px;
  color: #fff;
}
#section_8 .heading {
  color:  #ef215f;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
}
#section_8 .note {
  color:  #142a38;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.light-dark-background {
  background-color:  #142a38;
  padding-top: 40px;
  padding-bottom: 40px;
}
#section_9 .subscribe-heading {
  color:  #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  text-align: left;
}
#section_9 .subscribe-btn {
  color: #ffffff;
  border-radius: 5px;
  background-color:  #ef215f;
  width: 231px;
}